*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
}

#container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#grid-item{
    display: inline;
    background-color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#goes-behind {
    display: grid;
    z-index: -1;

    img{
        width: 25vw;
        height: auto;
    }
}

#goes-behind *{
    justify-content: center;
    z-index: -1;
}

#click-me{
    font-size: 2rem;
    font-variant: small-caps;
    background-color:rgb(227, 255, 196);
    color:rgb(255, 157, 209);
    border: none;
    width: 90%;
    margin: auto;
    &:hover{
        background-color: rgb(144, 224, 52);
    }
}

@media screen and (max-width: 700px){
    #goes-behind{
        img{
            width: 35vw;
        }
    }

    #click-me{
        font-size: 1rem;
    }
}